<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Emails</span></li>
		</ol>
		
		<h1>Emails</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix" style="min-height: 900px;">
			<br/>
			<div class="main-box-body clearfix">
			
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6 text-center" style="padding-bottom: 10px;">
						<a href="email-3column.html" target="_blank">
							<img src="/template/angularjs/img/samples/email-template-1.png" class="img-responsive" alt=""/>
						</a>
						<br/>
						<a href="email-3column.html" class="btn btn-success col-xs-12" target="_blank">
							Basic template
						</a>
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-6 text-center" style="padding-bottom: 10px;">
						<a href="email-2column.html" target="_blank">
							<img src="/template/angularjs/img/samples/email-template-2.png" class="img-responsive" alt=""/>
						</a>
						<br/>
						<a href="email-2column.html" class="btn btn-success col-xs-12" target="_blank">
							2 columns template
						</a>
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-6 text-center" style="padding-bottom: 10px;">
						<a href="email-letterhead.html" target="_blank">
							<img src="/template/angularjs/img/samples/email-template-3.png" class="img-responsive" alt=""/>
						</a>
						<br/>
						<a href="email-letterhead.html" class="btn btn-success col-xs-12" target="_blank">
							Simple template
						</a>
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-6 text-center" style="padding-bottom: 10px;">
						<a href="email-table.html" target="_blank">
							<img src="/template/angularjs/img/samples/email-template-4.png" class="img-responsive" alt=""/>
						</a>
						<br/>
						<a href="email-table.html" class="btn btn-success col-xs-12" target="_blank">
							Transactionals
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>