<div id="error-box">
	<div class="row">
		<div class="col-xs-12" style="min-height: 900px;">
			<div id="error-box-inner">
				<img src="/template/angularjs/img/error-404-v2.png" alt="Have you seen this page?"/>
			</div>
			<h1>ERROR 404</h1>
			<p>
				Page not found.<br/>
				If you find this page, let us know.
			</p>
			<p>
				Go back to <a href="/">homepage</a>.
			</p>
		</div>
	</div>
</div>