<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Drop File Zone</span></li>
		</ol>
		
		<h1>Drop File Zone</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix" style="min-height: 820px;">
			<header class="main-box-header clearfix">
				<h2>Drag &amp; Drop file upload</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div id="dropzone">
					<form id="demo-upload" class="dropzone dz-clickable" action="">
						<div class="dz-default dz-message">
							<span>Drop files here to upload</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/template/js/dropzone.js"></script>