<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>CKEditor</span></li>
		</ol>
		
		<h1>CKEditor</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix" style="min-height: 820px;">
			<header class="main-box-header clearfix">
				<h2>CKEditor 4.3</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="form-group">
					<textarea class="form-control ckeditor" id="exampleTextarea" rows="3"></textarea>
				</div>
				<p>
					Editor with very simple customization options.
				</p>
			</div>
		</div>
	</div>
</div>
	
<!-- this page specific scripts -->
<script src="/template/js/ckeditor/ckeditor.js"></script>