<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Gallery</span></li>
		</ol>
		
		<h1>Gallery</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header">
				<h2>Images with Lightbox</h2>
			</header>
			
			<div class="main-box-body">
				<div id="gallery-photos-lightbox">
					<ul class="clearfix gallery-photos">
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_8.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_8.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_2.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_2.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_3.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_3.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_4.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_4.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_5.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_5.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_6.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_6.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_7.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_7.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="/template/angularjs/img/samples/hdr/img_1.jpg" class="photo-box image-link" style="background-image: url('/template/angularjs/img/samples/hdr/small/img_1.jpg');"></a>
							<span class="thumb-meta-time"><i class="fa fa-clock-o"></i> 23 minutes ago</span>
						</li>
					</ul>
				</div>
			</div>
		
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header">
				<h2>Uploaded images - Drag &amp; Drop images for sorting</h2>
			</header>
			
			<div class="main-box-body">
				<div id="gallery-photos-wrapper">
					<ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover">
						<li id="recordsArray_1" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/jessica.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li id="recordsArray_2" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/kunis-300.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li id="recordsArray_3" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/robert-300.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li id="recordsArray_4" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/emma-300.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li id="recordsArray_5" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/scarlett-300.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li id="recordsArray_6" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/ryan-300.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li id="recordsArray_7" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/angelina-300.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li id="recordsArray_8" class="col-md-2 col-sm-3 col-xs-6">
							<div class="photo-box" style="background-image: url('/template/angularjs/img/samples/lima-300.jpg');"></div>
							<a href="" class="remove-photo-link">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header">
				<h2>Upload images with Drag &amp; Drop</h2>
			</header>
			
			<div class="main-box-body">
				<div id="dropzone">
					<form id="demo-upload" class="dropzone dz-clickable" action="">
						<div class="dz-default dz-message">
							<span>Drop files here to upload</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
	
<!-- this page specific inline scripts -->
<script>
$(function() {
	$('ul#gallery-photos').sortable({ opacity: 0.6, cursor: 'move', update: function() {
		var order = $(this).sortable('serialize'); 
		$.post('/gallery-sortimages.html', order, function(theResponse){
	
		}); 															 
	}								  
	});
	
	$(document).ready(function() {
		$('#gallery-photos-lightbox').magnificPopup({
			type: 'image',
			delegate: 'a',
			gallery: {
				enabled: true
		    }
		});
	});
});
</script>