<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Gallery</span></li>
		</ol>
		
		<h1>Gallery with different style</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box">
			<header class="main-box-header">
				<h2>Loading effects for grid items with css animations</h2>
			</header>
			
			<div class="main-box-body">
				<div class="alert alert-info">
					You can choose from 8 different effects following the library tutorial 
					<a href="http://tympanus.net/codrops/2013/07/02/loading-effects-for-grid-items-with-css-animations/" target="_blank">here</a>.
				</div>
				
				<ul class="grid effect-2" id="grid">
					<li><a href="http://drbl.in/fWMM" target="_blank"><img src="/template/angularjs/img/samples/1.jpg"></a></li>
					<li><a href="http://drbl.in/fWPV" target="_blank"><img src="/template/angularjs/img/samples/3.jpg"></a></li>
					<li><a href="http://drbl.in/fWMT" target="_blank"><img src="/template/angularjs/img/samples/4.jpg"></a></li>
					<li><a href="http://drbl.in/fQdt" target="_blank"><img src="/template/angularjs/img/samples/12.png"></a></li>
					<li><a href="http://drbl.in/fHaa" target="_blank"><img src="/template/angularjs/img/samples/13.png"></a></li>
					<li><a href="http://drbl.in/gXMo" target="_blank"><img src="/template/angularjs/img/samples/10.png"></a></li>
					<li><a href="http://drbl.in/gXMn" target="_blank"><img src="/template/angularjs/img/samples/9.jpg"></a></li>
					<li><a href="http://drbl.in/fzYo" target="_blank"><img src="/template/angularjs/img/samples/2.jpg"></a></li>
					<li><a href="http://drbl.in/fARU" target="_blank"><img src="/template/angularjs/img/samples/14.png"></a></li>
					<li><a href="http://drbl.in/fGhI" target="_blank"><img src="/template/angularjs/img/samples/5.jpg"></a></li>
					<li><a href="http://drbl.in/fKCf" target="_blank"><img src="/template/angularjs/img/samples/6.jpg"></a></li>
					<li><a href="http://drbl.in/fLBG" target="_blank"><img src="/template/angularjs/img/samples/7.jpg"></a></li>
					<li><a href="http://drbl.in/fPEY" target="_blank"><img src="/template/angularjs/img/samples/8.jpg"></a></li>
					<li><a href="http://drbl.in/fWwG" target="_blank"><img src="/template/angularjs/img/samples/9.jpg"></a></li>
					<li><a href="http://drbl.in/fQdt" target="_blank"><img src="/template/angularjs/img/samples/12.png"></a></li>
					<li><a href="http://drbl.in/fHaa" target="_blank"><img src="/template/angularjs/img/samples/13.png"></a></li>
					<li><a href="http://drbl.in/gXMo" target="_blank"><img src="/template/angularjs/img/samples/10.png"></a></li>
					<li><a href="http://drbl.in/gXMn" target="_blank"><img src="/template/angularjs/img/samples/11.png"></a></li>
					<li><a href="http://drbl.in/fzYo" target="_blank"><img src="/template/angularjs/img/samples/2.jpg"></a></li>
					<li><a href="http://drbl.in/fARU" target="_blank"><img src="/template/angularjs/img/samples/14.png"></a></li>
					<li><a href="http://drbl.in/fWMM" target="_blank"><img src="/template/angularjs/img/samples/1.jpg"></a></li>
					<li><a href="http://drbl.in/fWPV" target="_blank"><img src="/template/angularjs/img/samples/3.jpg"></a></li>
					<li><a href="http://drbl.in/fWMT" target="_blank"><img src="/template/angularjs/img/samples/4.jpg"></a></li>
					<li><a href="http://drbl.in/fGhI" target="_blank"><img src="/template/angularjs/img/samples/5.jpg"></a></li>
					<li><a href="http://drbl.in/fKCf" target="_blank"><img src="/template/angularjs/img/samples/6.jpg"></a></li>
					<li><a href="http://drbl.in/fLBG" target="_blank"><img src="/template/angularjs/img/samples/7.jpg"></a></li>
					<li><a href="http://drbl.in/fPEY" target="_blank"><img src="/template/angularjs/img/samples/8.jpg"></a></li>
					<li><a href="http://drbl.in/fWwG" target="_blank"><img src="/template/angularjs/img/samples/9.jpg"></a></li>
					<li><a href="http://drbl.in/fQdt" target="_blank"><img src="/template/angularjs/img/samples/12.png"></a></li>
					<li><a href="http://drbl.in/fHaa" target="_blank"><img src="/template/angularjs/img/samples/13.png"></a></li>
					<li><a href="http://drbl.in/gXMo" target="_blank"><img src="/template/angularjs/img/samples/10.png"></a></li>
					<li><a href="http://drbl.in/gXMn" target="_blank"><img src="/template/angularjs/img/samples/11.png"></a></li>
					<li><a href="http://drbl.in/fzYo" target="_blank"><img src="/template/angularjs/img/samples/2.jpg"></a></li>
					<li><a href="http://drbl.in/fARU" target="_blank"><img src="/template/angularjs/img/samples/14.png"></a></li>
					<li><a href="http://drbl.in/fWMM" target="_blank"><img src="/template/angularjs/img/samples/1.jpg"></a></li>
					<li><a href="http://drbl.in/fWPV" target="_blank"><img src="/template/angularjs/img/samples/3.jpg"></a></li>
					<li><a href="http://drbl.in/fWMT" target="_blank"><img src="/template/angularjs/img/samples/4.jpg"></a></li>
					<li><a href="http://drbl.in/fGhI" target="_blank"><img src="/template/angularjs/img/samples/5.jpg"></a></li>
					<li><a href="http://drbl.in/fKCf" target="_blank"><img src="/template/angularjs/img/samples/6.jpg"></a></li>
					<li><a href="http://drbl.in/fLBG" target="_blank"><img src="/template/angularjs/img/samples/7.jpg"></a></li>
					<li><a href="http://drbl.in/fPEY" target="_blank"><img src="/template/angularjs/img/samples/8.jpg"></a></li>
					<li><a href="http://drbl.in/fWwG" target="_blank"><img src="/template/angularjs/img/samples/9.jpg"></a></li>
					<li><a href="http://drbl.in/fQdt" target="_blank"><img src="/template/angularjs/img/samples/12.png"></a></li>
					<li><a href="http://drbl.in/fHaa" target="_blank"><img src="/template/angularjs/img/samples/13.png"></a></li>
					<li><a href="http://drbl.in/gXMo" target="_blank"><img src="/template/angularjs/img/samples/10.png"></a></li>
					<li><a href="http://drbl.in/gXMn" target="_blank"><img src="/template/angularjs/img/samples/11.png"></a></li>
					<li><a href="http://drbl.in/fzYo" target="_blank"><img src="/template/angularjs/img/samples/2.jpg"></a></li>
					<li><a href="http://drbl.in/fARU" target="_blank"><img src="/template/angularjs/img/samples/14.png"></a></li>
					<li><a href="http://drbl.in/fWMM" target="_blank"><img src="/template/angularjs/img/samples/1.jpg"></a></li>
					<li><a href="http://drbl.in/fWPV" target="_blank"><img src="/template/angularjs/img/samples/3.jpg"></a></li>
					<li><a href="http://drbl.in/fWMT" target="_blank"><img src="/template/angularjs/img/samples/4.jpg"></a></li>
					<li><a href="http://drbl.in/fGhI" target="_blank"><img src="/template/angularjs/img/samples/5.jpg"></a></li>
					<li><a href="http://drbl.in/fKCf" target="_blank"><img src="/template/angularjs/img/samples/6.jpg"></a></li>
					<li><a href="http://drbl.in/fLBG" target="_blank"><img src="/template/angularjs/img/samples/7.jpg"></a></li>
					<li><a href="http://drbl.in/fPEY" target="_blank"><img src="/template/angularjs/img/samples/8.jpg"></a></li>
					<li><a href="http://drbl.in/fWwG" target="_blank"><img src="/template/angularjs/img/samples/9.jpg"></a></li>
					<li><a href="http://drbl.in/fQdt" target="_blank"><img src="/template/angularjs/img/samples/12.png"></a></li>
					<li><a href="http://drbl.in/fHaa" target="_blank"><img src="/template/angularjs/img/samples/13.png"></a></li>
					<li><a href="http://drbl.in/gXMo" target="_blank"><img src="/template/angularjs/img/samples/10.png"></a></li>
					<li><a href="http://drbl.in/gXMn" target="_blank"><img src="/template/angularjs/img/samples/11.png"></a></li>
					<li><a href="http://drbl.in/fzYo" target="_blank"><img src="/template/angularjs/img/samples/2.jpg"></a></li>
					<li><a href="http://drbl.in/fARU" target="_blank"><img src="/template/angularjs/img/samples/14.png"></a></li>
					<li><a href="http://drbl.in/fWMM" target="_blank"><img src="/template/angularjs/img/samples/1.jpg"></a></li>
					<li><a href="http://drbl.in/fWPV" target="_blank"><img src="/template/angularjs/img/samples/3.jpg"></a></li>
					<li><a href="http://drbl.in/fWMT" target="_blank"><img src="/template/angularjs/img/samples/4.jpg"></a></li>
					<li><a href="http://drbl.in/fGhI" target="_blank"><img src="/template/angularjs/img/samples/5.jpg"></a></li>
					<li><a href="http://drbl.in/fKCf" target="_blank"><img src="/template/angularjs/img/samples/6.jpg"></a></li>
					<li><a href="http://drbl.in/fLBG" target="_blank"><img src="/template/angularjs/img/samples/7.jpg"></a></li>
					<li><a href="http://drbl.in/fPEY" target="_blank"><img src="/template/angularjs/img/samples/8.jpg"></a></li>
					<li><a href="http://drbl.in/fWwG" target="_blank"><img src="/template/angularjs/img/samples/9.jpg"></a></li>
					<li><a href="http://drbl.in/fQdt" target="_blank"><img src="/template/angularjs/img/samples/12.png"></a></li>
					<li><a href="http://drbl.in/fHaa" target="_blank"><img src="/template/angularjs/img/samples/13.png"></a></li>
					<li><a href="http://drbl.in/gXMo" target="_blank"><img src="/template/angularjs/img/samples/10.png"></a></li>
					<li><a href="http://drbl.in/gXMn" target="_blank"><img src="/template/angularjs/img/samples/11.png"></a></li>
					<li><a href="http://drbl.in/fzYo" target="_blank"><img src="/template/angularjs/img/samples/2.jpg"></a></li>
					<li><a href="http://drbl.in/fARU" target="_blank"><img src="/template/angularjs/img/samples/14.png"></a></li>
					<li><a href="http://drbl.in/fWMM" target="_blank"><img src="/template/angularjs/img/samples/1.jpg"></a></li>
					<li><a href="http://drbl.in/fWPV" target="_blank"><img src="/template/angularjs/img/samples/3.jpg"></a></li>
					<li><a href="http://drbl.in/fWMT" target="_blank"><img src="/template/angularjs/img/samples/4.jpg"></a></li>
					<li><a href="http://drbl.in/fGhI" target="_blank"><img src="/template/angularjs/img/samples/5.jpg"></a></li>
					<li><a href="http://drbl.in/fKCf" target="_blank"><img src="/template/angularjs/img/samples/6.jpg"></a></li>
					<li><a href="http://drbl.in/fLBG" target="_blank"><img src="/template/angularjs/img/samples/7.jpg"></a></li>
					<li><a href="http://drbl.in/fPEY" target="_blank"><img src="/template/angularjs/img/samples/8.jpg"></a></li>
					<li><a href="http://drbl.in/fWwG" target="_blank"><img src="/template/angularjs/img/samples/9.jpg"></a></li>
					<li><a href="http://drbl.in/fWPV" target="_blank"><img src="/template/angularjs/img/samples/3.jpg"></a></li>
					<li><a href="http://drbl.in/fGhI" target="_blank"><img src="/template/angularjs/img/samples/5.jpg"></a></li>
					<li><a href="http://drbl.in/fzYo" target="_blank"><img src="/template/angularjs/img/samples/2.jpg"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- this page specific scripts -->
<script src="/template/js/masonry.pkgd.min.js"></script>
<script src="/template/js/imagesloaded.js"></script>
<script src="/template/js/classie.js"></script>
<script src="/template/js/AnimOnScroll.js"></script>
	
<!-- this page specific inline scripts -->
<script>
new AnimOnScroll( document.getElementById( 'grid' ), {
	minDuration : 0.4,
	maxDuration : 0.7,
	viewportFactor : 0.2
} );
</script>