<!-- All modals added here for the demo. You would of course just have one, dynamically created -->
<div class="md-modal md-effect-1" id="modal-1">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-2" id="modal-2">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-3" id="modal-3">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-4" id="modal-4">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-5" id="modal-5">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-6" id="modal-6">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-7" id="modal-7">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-8" id="modal-8">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-9" id="modal-9">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-10" id="modal-10">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-11" id="modal-11">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-13" id="modal-13">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-14" id="modal-14">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
<div class="md-modal md-effect-15" id="modal-15">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				
				<div class="form-inline form-inline-box">
					<div class="form-group">
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option>Active</option>
							<option>Inactive</option>
						</select>
					</div>
					<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>

<!-- Standard Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="exampleTextarea">Textarea</label>
						<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
					</div>
					
					<div class="form-inline form-inline-box">
						<div class="form-group">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
						<div class="form-group">
							<select class="form-control">
								<option>Active</option>
								<option>Inactive</option>
							</select>
						</div>
						<button type="submit" class="btn btn-link"><i class="fa fa-eye"></i> Preview</button>
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Modals</span></li>
		</ol>
		
		<h1>Modals</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Nifty Modal with Effects</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<p>
					Some inspiration for different modal window appearances. There are many possibilities for modal overlays to appear. 
					Here are some modern ways of showing them using CSS transitions and animations.
				</p>
				<button data-toggle="modal" data-target="#myModal" class="btn btn-primary mrg-b-lg">Standard Boostrap Modal</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-1">Fade in &amp; Scale</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-2">Slide in (right)</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-3">Slide in (bottom)</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-4">Newspaper</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-5">Fall</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-6">Side Fall</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-7">Sticky Up</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-8">3D Flip (horizontal)</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-9">3D Flip (vertical)</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-10">3D Sign</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-11">Super Scaled</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-13">3D Slit</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-14">3D Rotate Bottom</button>
				<button class="md-trigger btn btn-primary mrg-b-lg" data-modal="modal-15">3D Rotate In Left</button>
			</div>
		</div>
	</div>
</div>
	
<div class="md-overlay"></div><!-- the overlay element -->

<script src="/template/js/modernizr.custom.js"></script>
<script src="/template/js/classie.js"></script>
<script src="/template/js/modalEffects.js"></script>