<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Alerts &amp; Notifications</span></li>
		</ol>
		
		<h1>Alerts &amp; Notifications</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Notifications</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<p>
					Click on every button to see different notification style. All notifications are very easy to implement.
				</p>
				
				<!-- For Corner Expand effect -->
				<div class="notification-shape shape-box" id="notification-shape" data-path-to="m 0,0 500,0 0,500 -500,0 z">
					<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 500 500" preserveAspectRatio="none">
						<path d="m 0,0 500,0 0,500 0,-500 z"/>
					</svg>
				</div>
				
				<!-- For Loading circle effect -->
				<div class="notification-shape shape-progress" id="notification-shape-loading-circle">
					<svg width="70px" height="70px"><path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/></svg>
				</div>
				
				<button id="notification-trigger" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Scale</span>
				</button>
				
				<button id="notification-trigger-slide" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Slide IN</span>
				</button>
				
				<button id="notification-trigger-jelly" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Jelly</span>
				</button>
				<br/>
				<button id="notification-trigger-genie" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Genie</span>
				</button>
				
				<button id="notification-trigger-flip" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Flip</span>
				</button>
				
				<button id="notification-trigger-bouncyflip" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Bouncy Flip</span>
				</button>
				<br/>
				<button id="notification-trigger-slide-on-top" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Slide On Top</span>
				</button>
				
				<button id="notification-trigger-expanding-loader" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Expanding Loader</span>
				</button>
				
				<button id="notification-trigger-cornerexpand" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Corner Expand</span>
				</button>
				<br/>
				<button id="notification-trigger-loading-circle" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Loading Circle</span>
				</button>
				
				<button id="notification-trigger-box-spinner" class="btn btn-primary progress-button mrg-b-lg">
					<span class="content">Box Spinner</span>
				</button>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Simple alerts</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="alert alert-success">
					<i class="fa fa-check-circle fa-fw fa-lg"></i>
					<strong>Well done!</strong> You successfully read this important alert message.
				</div>
				<div class="alert alert-info">
					<i class="fa fa-info-circle fa-fw fa-lg"></i>
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>
				<div class="alert alert-warning">
					<i class="fa fa-warning fa-fw fa-lg"></i>
					<strong>Warning!</strong> Best check yo self, you're not looking too good.
				</div>
				<div class="alert alert-danger">
					<i class="fa fa-times-circle fa-fw fa-lg"></i>
					<strong>Oh snap!</strong> Change a few things up and <a href="" class="alert-link">try submitting again</a>.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Dismissible alerts with links</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="alert alert-success fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="fa fa-check-circle fa-fw fa-lg"></i>
					<strong>Well done!</strong> You successfully read this important alert message.
				</div>
				<div class="alert alert-info fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="fa fa-info-circle fa-fw fa-lg"></i>
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>
				<div class="alert alert-warning fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="fa fa-warning fa-fw fa-lg"></i>
					<strong>Warning!</strong> Best check yo self, you're not looking too good.
				</div>
				<div class="alert alert-danger fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<i class="fa fa-times-circle fa-fw fa-lg"></i>
					<strong>Oh snap!</strong> Change a few things up and <a href="" class="alert-link">try submitting again</a>.
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Custom alerts</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="alert alert-block alert-danger fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4>Oh snap! You got an error!</h4>
					<p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					<p>
						<a class="btn btn-danger" href="">Take this action</a> <a class="btn btn-default" href="">Or do this</a>
					</p>
				</div>
				<div class="alert alert-block alert-success fade in">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4>Successfully saved!</h4>
					<p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					<p>
						<a class="btn btn-success" href="">Take this action</a> <a class="btn btn-default" href="">Or do this</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/template/js/modernizr.custom.js"></script>
<script src="/template/js/snap.svg-min.js"></script> <!-- For Corner Expand and Loading circle effect only -->
<script src="/template/js/classie.js"></script>
<script src="/template/js/notificationFx.js"></script>

<!-- this page specific inline scripts -->
<script>
	(function() {
		//Scale effect
		var bttn = document.getElementById( 'notification-trigger' );

		// make sure..
		bttn.disabled = false;
		
		bttn.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttn, 'active' );

			classie.remove( bttn, 'active' );
			
			// create the notification
			var notification = new NotificationFx({
				message : '<p>This is just a simple notice. Everything is in order and this is a <a href="">simple link</a>.</p>',
				layout : 'growl',
				effect : 'scale',
				type : 'warning', // notice, warning, error or success
				onClose : function() {
					bttn.disabled = false;
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Jelly effect
		var bttnJelly = document.getElementById( 'notification-trigger-jelly' );

		// make sure..
		bttnJelly.disabled = false;

		bttnJelly.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttnJelly, 'active' );

			classie.remove( bttnJelly, 'active' );
			
			// create the notification
			var notification = new NotificationFx({
				message : '<p>Hello there! I\'m a classic notification but I have some elastic jelliness thanks to <a href="http://bouncejs.com/">bounce.js</a>. </p>',
				layout : 'growl',
				effect : 'jelly',
				type : 'error', // notice, warning, error or success
				onClose : function() {
					bttnJelly.disabled = false;
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		//Slide IN effect
		var bttnSlide = document.getElementById( 'notification-trigger-slide' );

		// make sure..
		bttnSlide.disabled = false;

		bttnSlide.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttnSlide, 'active' );

			classie.remove( bttnSlide, 'active' );
				
			// create the notification
			var notification = new NotificationFx({
				message : '<p>This notification has slight elasticity to it thanks to <a href="http://bouncejs.com/">bounce.js</a>.</p>',
				layout : 'growl',
				effect : 'slide',
				type : 'notice', // notice, warning or error
				onClose : function() {
					bttnSlide.disabled = false;
				}
			});

			// show the notification
			notification.show();

			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Genie effect
		var bttnGenie = document.getElementById( 'notification-trigger-genie' );

		// make sure..
		bttnGenie.disabled = false;

		bttnGenie.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttnGenie, 'active' );
			classie.remove( bttnGenie, 'active' );
			
			// create the notification
			var notification = new NotificationFx({
				message : '<p>Your preferences have been saved successfully. See all your settings in your <a href="">profile overview</a>.</p>',
				layout : 'growl',
				effect : 'genie',
				type : 'notice', // notice, warning or error
				onClose : function() {
					bttnGenie.disabled = false;
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Flip effect
		var bttnFlip = document.getElementById( 'notification-trigger-flip' );

		// make sure..
		bttnFlip.disabled = false;

		bttnFlip.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttnFlip, 'active' );
			classie.remove( bttnFlip, 'active' );
			
			// create the notification
			var notification = new NotificationFx({
				message : '<p>Your preferences have been saved successfully. See all your settings in your <a href="">profile overview</a>.</p>',
				layout : 'attached',
				effect : 'flip',
				type : 'notice', // notice, warning or error
				onClose : function() {
					bttnFlip.disabled = false;
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Bouncy Flip effect
		var bttnBouncyflip = document.getElementById( 'notification-trigger-bouncyflip' );

		// make sure..
		bttnBouncyflip.disabled = false;

		bttnBouncyflip.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttnBouncyflip, 'active' );
			classie.remove( bttnBouncyflip, 'active' );
			
			// create the notification
			var notification = new NotificationFx({
				message : '<span class="fa fa-calendar fa-3x pull-left"></span><p>The event was added to your calendar. Check out all your events in your <a href="">event overview</a>.</p>',
				layout : 'attached',
				effect : 'bouncyflip',
				type : 'success', // notice, warning or error
				onClose : function() {
					bttnBouncyflip.disabled = false;
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Slide On Top effect
		var bttnSlideOnTop = document.getElementById( 'notification-trigger-slide-on-top' );

		// make sure..
		bttnSlideOnTop.disabled = false;

		bttnSlideOnTop.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttnSlideOnTop, 'active' );
			classie.remove( bttnSlideOnTop, 'active' );
			
			// create the notification
			var notification = new NotificationFx({
				message : '<span class="icon fa fa-bullhorn fa-2x"></span><p>You have some interesting news in your inbox. Go <a href="">check it out</a> now.</p>',
				layout : 'bar',
				effect : 'slidetop',
				type : 'error', // notice, warning or error
				onClose : function() {
					bttnSlideOnTop.disabled = false;
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Expanding loader effect
		var bttnExpandingLoader = document.getElementById( 'notification-trigger-expanding-loader' );

			// make sure..
		bttnExpandingLoader.disabled = false;

		bttnExpandingLoader.addEventListener( 'click', function() {
				
			// create the notification
			var notification = new NotificationFx({
				message : '<span class="icon fa fa-cog fa-2x"></span><p>Your preferences have been saved successfully. See all your settings in your <a href="">profile overview</a>.</p>',
				layout : 'bar',
				effect : 'exploader',
				type : 'success', // notice, warning or error
				onClose : function() {
					bttnExpandingLoader.disabled = false;
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Corner expand effect
		var svgshape = document.getElementById( 'notification-shape' ),
			s = Snap( svgshape.querySelector( 'svg' ) ),
			path = s.select( 'path' ),
			pathConfig = {
				from : path.attr( 'd' ),
				to : svgshape.getAttribute( 'data-path-to' )
			},
			bttnCornerexpand = document.getElementById( 'notification-trigger-cornerexpand' );

		// make sure..
		bttnCornerexpand.disabled = false;

		bttnCornerexpand.addEventListener( 'click', function() {
			// simulate loading (for demo purposes only)
			classie.add( bttnCornerexpand, 'active' );
			path.animate( { 'path' : pathConfig.to }, 300, mina.easeinout );

			classie.remove( bttnCornerexpand, 'active' );
			
			// create the notification
			var notification = new NotificationFx({
				wrapper : svgshape,
				message : '<p><span class="icon"></span> I\'m appaering in a morphed shape thanks to <a href="http://snapsvg.io/">Snap.svg</a></p>',
				layout : 'other',
				effect : 'cornerexpand',
				type : 'warning', // notice, warning or error
				onClose : function() {
					bttnCornerexpand.disabled = false;
					setTimeout(function() {
						path.animate( { 'path' : pathConfig.from }, 300, mina.easeinout );
					}, 200 );
				}
			});

			// show the notification
			notification.show();
			
			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Loading circle effect
		var svgshapeLoadingCircle = document.getElementById( 'notification-shape-loading-circle' ),
			bttnLoadingCircle = document.getElementById( 'notification-trigger-loading-circle' );

		// make sure..
		bttnLoadingCircle.disabled = false;

		bttnLoadingCircle.addEventListener( 'click', function() {
			// create the notification
			var notification = new NotificationFx({
				wrapper : svgshapeLoadingCircle,
				message : '<p>Whatever you did, it was successful!</p>',
				layout : 'other',
				effect : 'loadingcircle',
				ttl : 9000,
				type : 'notice', // notice, warning or error
				onClose : function() {
					bttnLoadingCircle.disabled = false;
				}
			});

			// show the notification
			notification.show();

			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
		
		
		//Box Spinner effect
		var bttnBoxSpinner = document.getElementById( 'notification-trigger-box-spinner' );

		// make sure..
		bttnBoxSpinner.disabled = false;

		bttnBoxSpinner.addEventListener( 'click', function() {
			// create the notification
			var notification = new NotificationFx({
				message : '<p>I am using a beautiful spinner from <a href="http://tobiasahlin.com/spinkit/">SpinKit</a></p>',
				layout : 'other',
				effect : 'boxspinner',
				ttl : 9000,
				type : 'success', // notice, warning or error
				onClose : function() {
					bttnBoxSpinner.disabled = false;
				}
			});

			// show the notification
			notification.show();

			// disable the button (for demo purposes only)
			this.disabled = true;
		} );
	})();
</script>