<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Projects</span></li>
		</ol>
		
		<h1>Projects</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
		<div class="main-box clearfix project-box emerald-box">
			<div class="main-box-body clearfix">
				<div class="project-box-header emerald-bg">
					<div class="name">
						<a href="">
							The Fighter
						</a>
					</div>
				</div>
				
				<div class="project-box-content">
					<span class="chart" easypiechart percent="39" options="options">
						<span class="percent"></span>%<br/>
						<span class="lbl">completed</span>
					</span>
				</div>
				
				<div class="project-box-footer clearfix">
					<a href="">
						<span class="value">12</span>
						<span class="label">Tasks</span>
					</a>
					<a href="">
						<span class="value">1</span>
						<span class="label">Alerts</span>
					</a>
					<a href="">
						<span class="value">82</span>
						<span class="label">Messages</span>
					</a>
				</div>
				
				<div class="project-box-ultrafooter clearfix">
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/scarlet-159.png" data-toggle="tooltip" title="Scarlett Johansson"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/lima-300.jpg" data-toggle="tooltip" title="Adriana Lima"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/emma-300.jpg" data-toggle="tooltip" title="Emma Watson"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/angelina-300.jpg" data-toggle="tooltip" title="Angelina Jolie"/>
					
					<a href="" class="link pull-right">
						<i class="fa fa-arrow-circle-right fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
		<div class="main-box clearfix project-box green-box">
			<div class="main-box-body clearfix">
				<div class="project-box-header green-bg">
					<div class="name">
						<a href="">
							Captain America
						</a>
					</div>
				</div>
				
				<div class="project-box-content">
					<span class="chart" easypiechart percent="86" options="optionsGreen">
						<span class="percent"></span>%<br/>
						<span class="lbl">completed</span>
					</span>
				</div>
				
				<div class="project-box-footer clearfix">
					<a href="">
						<span class="value">93</span>
						<span class="label">Tasks</span>
					</a>
					<a href="">
						<span class="value">3</span>
						<span class="label">Alerts</span>
					</a>
					<a href="">
						<span class="value">483</span>
						<span class="label">Messages</span>
					</a>
				</div>
				
				<div class="project-box-ultrafooter clearfix">
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/lima-300.jpg" data-toggle="tooltip" title="Adriana Lima"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/robert-300.jpg" data-toggle="tooltip" title="Robert Downey Jr."/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/angelina-300.jpg" data-toggle="tooltip" title="Angelina Jolie"/>
					
					<a href="" class="link pull-right">
						<i class="fa fa-arrow-circle-right fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
		<div class="main-box clearfix project-box red-box">
			<div class="main-box-body clearfix">
				<div class="project-box-header red-bg">
					<div class="name">
						<a href="">
							Contraband
						</a>
					</div>
				</div>
				
				<div class="project-box-content">
					<span class="chart" easypiechart percent="79" options="optionsRed">
						<span class="percent"></span>%<br/>
						<span class="lbl">completed</span>
					</span>
				</div>
				
				<div class="project-box-footer clearfix">
					<a href="">
						<span class="value">3</span>
						<span class="label">Tasks</span>
					</a>
					<a href="">
						<span class="value">30</span>
						<span class="label">Alerts</span>
					</a>
					<a href="">
						<span class="value">382</span>
						<span class="label">Messages</span>
					</a>
				</div>
				
				<div class="project-box-ultrafooter clearfix">
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/robert-300.jpg" data-toggle="tooltip" title="Robert Downey Jr."/>
					
					<a href="" class="link pull-right">
						<i class="fa fa-arrow-circle-right fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
		<div class="main-box clearfix project-box yellow-box">
			<div class="main-box-body clearfix">
				<div class="project-box-header yellow-bg">
					<div class="name">
						<a href="">
							Ted
						</a>
					</div>
				</div>
				
				<div class="project-box-content">
					<span class="chart" easypiechart percent="47" options="optionsYellow">
						<span class="percent"></span>%<br/>
						<span class="lbl">completed</span>
					</span>
				</div>
				
				<div class="project-box-footer clearfix">
					<a href="">
						<span class="value">192</span>
						<span class="label">Tasks</span>
					</a>
					<a href="">
						<span class="value">32</span>
						<span class="label">Alerts</span>
					</a>
					<a href="">
						<span class="value">932</span>
						<span class="label">Messages</span>
					</a>
				</div>
				
				<div class="project-box-ultrafooter clearfix">
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/robert-300.jpg" data-toggle="tooltip" title="Robert Downey Jr."/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/angelina-300.jpg" data-toggle="tooltip" title="Angelina Jolie"/>
					
					<a href="" class="link pull-right">
						<i class="fa fa-arrow-circle-right fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
		<div class="main-box clearfix project-box purple-box">
			<div class="main-box-body clearfix">
				<div class="project-box-header purple-bg">
					<div class="name">
						<a href="">
							Broken City
						</a>
					</div>
				</div>
				
				<div class="project-box-content">
					<span class="chart" easypiechart percent="50" options="optionsPurple">
						<span class="percent"></span>%<br/>
						<span class="lbl">completed</span>
					</span>
				</div>
				
				<div class="project-box-footer clearfix">
					<a href="">
						<span class="value">13</span>
						<span class="label">Tasks</span>
					</a>
					<a href="">
						<span class="value">0</span>
						<span class="label">Alerts</span>
					</a>
					<a href="">
						<span class="value">92</span>
						<span class="label">Messages</span>
					</a>
				</div>
				
				<div class="project-box-ultrafooter clearfix">
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/emma-300.jpg" data-toggle="tooltip" title="Emma Watson"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/robert-300.jpg" data-toggle="tooltip" title="Robert Downey Jr."/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/kunis-300.jpg" data-toggle="tooltip" title="Mila Kunis"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/angelina-300.jpg" data-toggle="tooltip" title="Angelina Jolie"/>
					
					<a href="" class="link pull-right">
						<i class="fa fa-arrow-circle-right fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6" ng-controller="easyChartCtrl">
		<div class="main-box clearfix project-box gray-box">
			<div class="main-box-body clearfix">
				<div class="project-box-header gray-bg">
					<div class="name">
						<a href="">
							Lone Survivor
						</a>
					</div>
				</div>
				
				<div class="project-box-content">
					<span class="chart" easypiechart percent="91" options="optionsGray">
						<span class="percent"></span>%<br/>
						<span class="lbl">completed</span>
					</span>
				</div>
				
				<div class="project-box-footer clearfix">
					<a href="">
						<span class="value">48</span>
						<span class="label">Tasks</span>
					</a>
					<a href="">
						<span class="value">10</span>
						<span class="label">Alerts</span>
					</a>
					<a href="">
						<span class="value">120</span>
						<span class="label">Messages</span>
					</a>
				</div>
				
				<div class="project-box-ultrafooter clearfix">
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/angelina-300.jpg" data-toggle="tooltip" title="Angelina Jolie"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/scarlet-159.png" data-toggle="tooltip" title="Scarlett Johansson"/>
					<img class="project-img-owner" alt="" src="/template/angularjs/img/samples/kunis-300.jpg" data-toggle="tooltip" title="Mila Kunis"/>
					
					<a href="" class="link pull-right">
						<i class="fa fa-arrow-circle-right fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
	
<!-- this page specific inline scripts -->
<script>
// $(function() {
// 	$('.chart').easyPieChart({
// 		easing: 'easeOutBounce',
// 		onStep: function(from, to, percent) {
// 			$(this.el).find('.percent').text(Math.round(percent));
// 		},
// 		barColor: '#3498db',
// 		trackColor: '#f2f2f2',
// 		scaleColor: false,
// 		lineWidth: 8,
// 		size: 130,
// 		animate: 1500
// 	});
// });
</script>