<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Search</span></li>
		</ol>
		
		<h1>Search</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>833 results found for: <span class="emerald">&quot;movies 2014&quot;</span></h2>
				<small class="gray">Request time (1.86 seconds)</small>
			</header>
			
			<div class="main-box-body clearfix">
				<div id="search-form">
					<form action="#/pages/search" method="get">
						<div class="input-group">
							<input type="text" name="search" value="movies 2014" class="form-control input-lg"/>
							<div class="input-group-btn">
								<button class="btn btn-lg btn-primary" type="submit">
									<i class="fa fa-search"></i> Search
								</button>
							</div>
						</div>
					</form>
				</div>
				
				<ul id="search-results">
					<li>
						<h3 class="title">
							<a href="">
								IMDb: Most Popular Feature Films Released In 2014
							</a>
						</h3>
						<div class="clearfix">
							<img src="/template/angularjs/img/samples/hdr/xs/img_8.jpg" alt="" class="search-img hidden-xs" height="50"/>
							<div class="meta-info">
								<div class="link-title">
									www.imdb.com/movies-2014
								</div>
								<div class="desc">
									Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime 
									target of a manhunt after discovering an orb wanted by Ronan the ...
								</div>
							</div>
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								2014 Movies - Complete List Of All Movies 2014 In Theaters
							</a>
						</h3>
						<div class="clearfix">
							<img src="/template/angularjs/img/samples/hdr/xs/img_5.jpg" alt="" class="search-img hidden-xs" height="50"/>
							<div class="meta-info">
								<div class="link-title">
									www.wildaboutmovies.com/2014_movies/Movies_In_Theaters_2014.html
								</div>
								<div class="desc">
									This 2014 Movies page is updated daily and this Movies 2014 page contains the most accurate 
									2014 movie release dates and information about all 2014 ...
								</div>
							</div>
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								Movies 2014 - Teaser Trailer
							</a>
						</h3>
						<div class="clearfix">
							<img src="/template/angularjs/img/samples/hdr/xs/img_7.jpg" alt="" class="search-img hidden-xs" height="50"/>
							<div class="meta-info">
								<div class="link-title">
									teaser-trailer.com/movies-2014.html
								</div>
								<div class="desc">
									Upcoming Movies January 2014. Movie Title: Open Grave Genre: Horror Director: Gonzalo 
									Lopez-Gallego Starring: Sharlto Copley, Joseph Morgan, Thomas ...
								</div>
							</div>
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								Top 100 Movies of 2014 - Rotten Tomatoes
							</a>
						</h3>
						<div class="link-title">
							www.rottentomatoes.com/top/bestofrt/?year=2014
						</div>
						<div class="desc">
							Rotten Tomatoes lists the best 100 Movies based on their Adjusted Score!
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								New Upcoming Movies 2014 - Movie Insider
							</a>
						</h3>
						<div class="link-title">
							www.movieinsider.com/movies/-/2014/
						</div>
						<div class="desc">
							This Year in Movies - 2014 will once again be a year of sequels and remakes. 
							There will be over 20 movie sequels in 2014, including Transformers 4: Age of ...
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								2014 in film - Wikipedia, the free encyclopedia
							</a>
						</h3>
						<div class="link-title">
							en.wikipedia.org/wiki/2014_in_film
						</div>
						<div class="desc">
							Lists of box office number-one films in 2014. The top 10 films released in 2014 
							by worldwide gross are as ...
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								List of Bollywood films of 2014 - Wikipedia, the free ...
							</a>
						</h3>
						<div class="link-title">
							en.wikipedia.org/wiki/List_of_Bollywood_films_of_2014
						</div>
						<div class="desc">
							This is a list of Bollywood films that have been released in 2014 or noted in a 
							reliable source as being planned for release in 2014.
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								New Movies 2014 - MovieWeb
							</a>
						</h3>
						<div class="link-title">
							www.movieweb.com/movies/2014
						</div>
						<div class="desc">
							New Movies 2014 2014 Movies, 2014 Movies In Movie Theaters, Upcoming Movies 2014, 
							New 2014 Movies, Complete List of 2014 Movies, Movies 2014, New ...
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								Summer Movies 2014 - Trailers, Calendar and Preview ...
							</a>
						</h3>
						<div class="link-title">
							www.moviefone.com/summer-movies
						</div>
						<div class="desc">
							Get all your Summer Movies 2014 information with trailers, release dates, photos and 
							more on the biggest summer blockbusters.
						</div>
					</li>
					<li>
						<h3 class="title">
							<a href="">
								September - ComingSoon.net: Movie Trailers, New Movies ...
							</a>
						</h3>
						<div class="link-title">
							www.comingsoon.net/movies.php?year=2014&month=09
						</div>
						<div class="desc">
							New movies coming out this month: September, 2014. Trying to figure ... Here are all 
							of the latest movie releases and upcoming movies for this month. Open up ...
						</div>
					</li>
				</ul>
				
				<ul class="pagination">
					<li class="disabled"><a href=""><i class="fa fa-chevron-left"></i></a></li>
					<li class="active"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li><a href=""><i class="fa fa-chevron-right"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>