<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Team members</span></li>
		</ol>
		
		<h1>Team members <small>with Multiple color options</small></h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Angelina Jolie</h2>
					<div class="job-position">
						Actress
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> New York
						</li>
						<li>
							<i class="fa fa-envelope"></i> angelina@jolie.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (329) 239-3342
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">783</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">912</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">83</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/robert-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Robert Downey</h2>
					<div class="job-position">
						Actor
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> Chicago
						</li>
						<li>
							<i class="fa fa-envelope"></i> robert@downey.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (942) 834-9382
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">92</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">127</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">361</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/kunis-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Mila Kunis</h2>
					<div class="job-position">
						Actress
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> San Francisco
						</li>
						<li>
							<i class="fa fa-envelope"></i> mila@kunis.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (823) 321-0192
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">44</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">91</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">3</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/ryan-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Ryan Gosling</h2>
					<div class="job-position">
						Actor
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> Los Angeles
						</li>
						<li>
							<i class="fa fa-envelope"></i> ryan@gosling.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (829) 101-9499
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">192</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">99</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">20</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/scarlett-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>S. Johansson</h2>
					<div class="job-position">
						Actress
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> Paris
						</li>
						<li>
							<i class="fa fa-envelope"></i> s@johansson.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (901) 482-9010
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">1,293</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">439</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">290</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/emma-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Emma Watson</h2>
					<div class="job-position">
						Actress
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> London
						</li>
						<li>
							<i class="fa fa-envelope"></i> emma@watson.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (303) 958-1009
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">28</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">9</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">33</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/robert-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Robert Downey</h2>
					<div class="job-position">
						Actor
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> Chicago
						</li>
						<li>
							<i class="fa fa-envelope"></i> robert@downey.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (942) 834-9382
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">92</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">127</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">361</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/kunis-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Mila Kunis</h2>
					<div class="job-position">
						Actress
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> San Francisco
						</li>
						<li>
							<i class="fa fa-envelope"></i> mila@kunis.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (823) 321-0192
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">44</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">91</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">3</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<div class="main-box clearfix profile-box-contact">
			<div class="main-box-body clearfix">
				<div class="profile-box-header gray-bg clearfix">
					<img src="/template/angularjs/img/samples/angelina-300.jpg" alt="" class="profile-img img-responsive" />
					<h2>Angelina Jolie</h2>
					<div class="job-position">
						Actress
					</div>
					<ul class="contact-details">
						<li>
							<i class="fa fa-map-marker"></i> New York
						</li>
						<li>
							<i class="fa fa-envelope"></i> angelina@jolie.com
						</li>
						<li>
							<i class="fa fa-phone"></i> (329) 239-3342
						</li>
					</ul>
				</div>
				
				<div class="profile-box-footer clearfix">
					<a href="">
						<span class="value">783</span>
						<span class="label">Messages</span>
					</a>
					<a href="">
						<span class="value">912</span>
						<span class="label">Sales</span>
					</a>
					<a href="">
						<span class="value">83</span>
						<span class="label">Projects</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>