<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Users</span></li>
		</ol>
		
		<div class="clearfix">
			<h1 class="pull-left">Users</h1>
			
			<div class="pull-right top-page-ui">
				<a href="" class="btn btn-primary pull-right">
					<i class="fa fa-plus-circle fa-lg"></i> Add user
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box no-header clearfix">
			<div class="main-box-body clearfix">
				<div class="table-responsive">
					<table class="table user-list table-hover">
						<thead>
							<tr>
								<th><span>User</span></th>
								<th><span>Created</span></th>
								<th class="text-center"><span>Status</span></th>
								<th><span>Email</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/scarlet-159.png" alt=""/>
									<a href="" class="user-link">Scarlett Johansson</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/08/08
								</td>
								<td class="text-center">
									<span class="label label-default">Inactive</span>
								</td>
								<td>
									<a href="">mila@kunis.com</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/robert-300.jpg" alt=""/>
									<a href="" class="user-link">Robert Downey Jr.</a>
									<span class="user-subhead">Member</span>
								</td>
								<td>
									2013/08/12
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="">marlon@brando.com</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/ryan-300.jpg" alt=""/>
									<a href="" class="user-link">Ryan Gossling</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2013/03/03
								</td>
								<td class="text-center">
									<span class="label label-danger">Banned</span>
								</td>
								<td>
									<a href="">jack@nicholson</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/emma-300.jpg" alt=""/>
									<a href="" class="user-link">Emma Watson</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2004/01/24
								</td>
								<td class="text-center">
									<span class="label label-warning">Pending</span>
								</td>
								<td>
									<a href="">humphrey@bogart.com</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/robert-300.jpg" alt=""/>
									<a href="" class="user-link">Robert Downey Jr.</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/12/31
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="">spencer@tracy</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/kunis-300.jpg" alt=""/>
									<a href="" class="user-link">Mila Kunis</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/08/08
								</td>
								<td class="text-center">
									<span class="label label-default">Inactive</span>
								</td>
								<td>
									<a href="">mila@kunis.com</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/lima-300.jpg" alt=""/>
									<a href="" class="user-link">George Clooney</a>
									<span class="user-subhead">Member</span>
								</td>
								<td>
									2013/08/12
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="">marlon@brando.com</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/ryan-300.jpg" alt=""/>
									<a href="" class="user-link">Ryan Gossling</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2013/03/03
								</td>
								<td class="text-center">
									<span class="label label-danger">Banned</span>
								</td>
								<td>
									<a href="">jack@nicholson</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/emma-300.jpg" alt=""/>
									<a href="" class="user-link">Emma Watson</a>
									<span class="user-subhead">Registered</span>
								</td>
								<td>
									2004/01/24
								</td>
								<td class="text-center">
									<span class="label label-warning">Pending</span>
								</td>
								<td>
									<a href="">humphrey@bogart.com</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="/template/angularjs/img/samples/robert-300.jpg" alt=""/>
									<a href="" class="user-link">Robert Downey Jr.</a>
									<span class="user-subhead">Admin</span>
								</td>
								<td>
									2013/12/31
								</td>
								<td class="text-center">
									<span class="label label-success">Active</span>
								</td>
								<td>
									<a href="">spencer@tracy</a>
								</td>
								<td style="width: 20%;">
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>